html {
    background-color: black;
    border: rgb(47, 51, 54);
    margin-left: 16px;
    margin-right: 16px;
}
.wd-bookmark-title {
    width: auto;
    padding: 10px;
    border: 1px solid rgb(47, 51, 54);
    border-top: none;
    margin-top: 0;
}
.wd-bookmark {
    font-size: 20px;
    color: white;
}
.wd-handle {
    color: gray;
    font-size: 13px;
}
.wd-dots {
    font-size: 30px;
    position: absolute;
    right: 50px;
    top: 10px;
    color: rgb(29, 161, 242);
}
.wd-tweet {
    border: 1px solid rgb(47, 51, 54);;
}
.wd-avatar {
    position: relative;
    left: 16px;
    top: 12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.wd-britney-handle {
    position: relative;
    left: 20px;
    top: -24px;
    color: white;
    font-size: 12px;
}
.wd-handle-2 {
    color: gray;
}
.wd-tweet-text {
    color: white;
    font-size: 15px;
    position: relative;
    left: 74px;
    top: -24px;
    max-width: 506px;
}
.wd-image-wrapper {
    border-bottom: 1px solid rgb(47, 51, 54);
    position: relative;
    left: 72px;
    width: 504px;
    height: 264px;
}
.wd-image-tweet {
    position: relative;
    width: 504px;
    height: 264px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.wd-picture-title {
    font-size: 15px;
    color: white;
}
.wd-picture-words {
    font-size: 15px;
    color: gray;
}
.wd-picture-wrap-caption {
    padding: 12px;
    position: relative;
    left: 70px;
    width: 480px;
    border: 1px solid rgb(47, 51, 54);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.wd-icon-bar {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 12px;
    left: 72px;
    width: 504px;
    margin-bottom: 20px;
}
.wd-icon {
    position: relative;
    color: gray;
    width: 20px;
    height: 20px;
}
.wd-heart {
    color: red;
}
